<template name="addNews">
  <div class="jumbotron">
    {{#if loading}}
    <div class="loading">
      {{>spinner}}
    </div>
    {{/if}}
    <h3>Create News:</h3>
    <form id="newsform" novalidate action="">
      <input required title="Please enter the tiltle of the news" class="form-control floating-label" name="title" type="text" id="title" placeholder="Title" STYLE="margin-bottom:10px">
      <div class="input-group datetimepicker col-xs-12" style="margin-bottom:10px">
        <input class="set-due-date form-control" type="text" id="date" placeholder="Publication Date" required value="{{todayDate}}" />
        <span class="input-group-addon cal"><i style="margin-top:5px" class="fa fa-calendar" ></i></span>
      </div>
      <div class="panel panel-default">
        <textarea rows="6" cols="50" title="Please enter the Description of the news" class="form-control floating-label " id="description" placeholder="News Description" required></textarea>
      </div>
      <div class="panel panel-default">
        <input required title="Please enter the country" class="form-control floating-label" name="address" type="text" placeholder="News Address" id="address">
      </div>
      <div class="">
        <div>
          <img id="newsImage" height="100" width="100" style="margin-top:20px">
        </div>
      </div>     
      {{> fileUpload}}
    </form>
    <button id="saveNews" class="btn btn-primary btn-file upload-control">Save</button>        
  </div>
</template>
 <template name="fileUpload">
  <form class='upload_form'>
    <input type="file" class='upload_field cloudinary_fileupload' style="border:none!important; padding-left:0;-webkit-box-shadow: none;" name="file" accept="image/*">
  </form>
</template> 
