<template name="newsEdit">
  <div class="jumbotron">
    {{#if loading}}
    <div class="loading">
      {{>spinner}}
    </div>
    {{/if}}
    {{#with newsToBeEdit}}
    <h3>Edit News:</h3>
    <form id="newsformEdit">
      <input required title="Please enter the tiltle of the news" class="form-control floating-label" name="title" type="text" id="titleOfEditNews" placeholder="Title" STYLE="margin-bottom:10px" value={{title}}>
      <div class="input-group datetimepicker col-xs-12" style="margin-bottom:10px">
        <input class="set-due-date form-control" type="text" value={{dateInFormat created_at}} id="dateOfEditNews" placeholder="Publication Date" required />
        <span class="input-group-addon cal" ><i style="margin-top:5px" class="fa fa-calendar" ></i></span>
      </div>
      <div class="panel panel-default">                
        <textarea rows="6" cols="50" title="Please enter the Description of the news" class="form-control floating-label " id="descriptionOfEditNews" required value={{description}}></textarea>                
      </div>
      <div class="panel panel-default">
        <input required title="Please enter the country" class="form-control floating-label" name="address" type="text" id="addressOfEditNews" value={{address}}>
      </div>
      <div>
        <img id="imageOfEditNews" height="100" width="100" style="margin-top:20px" src={{image}}>
      </div>
      {{> fileUploadEdit}}      
    </form>
    <button id="editNews" class="btn btn-primary btn-file upload-control">Save</button>
    {{/with}}
  </div>
</template>
<template name="fileUploadEdit">
  <form class='upload_form'>
    <input type="file" class='upload_field cloudinary_fileupload' style="border:none!important; padding-left:0;-webkit-box-shadow: none;" name="file" accept="image/*">
  </form>
</template>