<template name="NewsDetail">
  <div class="jumbotron">
    {{#with newsDetail}}
    <div>
      <h2 style="text-transform: capitalize;">{{title}}</h2>
    </div>
    <div style="line-height:3">
      <h5 style="display:inline">By<span style="font-weight:bold"> {{userName}}</span></h5>
      <h5 style="display:inline">On {{formatedDate created_at}}</h5>
    </div>
    <div class="row">
      {{#if image}}
      <div class="col-md-6">
        <img src={{image}} class="image" />
      </div>
      {{/if}}
      <div class="col-md-6 ">
        <span class="news-title">{{address}}:</span>
        <span class="news-des">{{description}}</span>
        {{#if news_link}}
           <a href = {{news_link}} style="color:blue" target="_blank">read more</a> 
        {{/if}}
      </div>
    </div>
    {{/with}}
  </div>
</template>