<template name="newsList">
  {{#if showSelectList}}
  <div class="well col-xs-12" >
    <select id="news" class="form-control mapselect" style="padding:0px">
    {{#each selectOptions}}
    <option value={{value}} {{selectedIfEquals value}}>
    {{text}}
    </option>
    {{/each}}
    </select>
    {{#if showDatePicker}} {{> datePickerTemplate}} {{/if}}
  </div>
  {{/if}}
  <div class="jumbotron col-xs-12">
    <!-- <div style="border-bottom:1px solid #bbb;margin-bottom:10px">
      <h3>My News</h3>
    </div> -->
    <div class="col-xs-4">
      <div class="input-group datetimepicker" id="dateSelected">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input class="set-due-date form-control " value={{initialDate}} type="text"/>
      </div>
    </div>
    <div class="col-xs-4">
    <i class="fa fa-filter pull-left" style="font-size:20px"></i>  
    {{> reactiveTableFilter id="dateFilter" }}
    </div>
    {{> reactiveTable collection=listOfNews settings=settings }}
  </div>
</template>