.floatLeft{
  float: left;
}
.popup_1 {
 max-width: 300px;
 overflow-y: auto;
 right: 20px;
 top: 30px;
 box-shadow: 1px 1px 16px 1px grey;
 max-height: 600px;
 position: absolute;
 background: #fff;
 z-index: 1000;
}
.loading{
  width: 100%;
  position: fixed;
  left:0;
  top: 0;
  background: #FFF;
  height: 100%;
  opacity: .5;
  z-index: 1;
}
.removePadding{
  padding: 0px;
}
.popup_h3{
  margin-top: 5px;
  margin-bottom: 4px;
  font-size:16px
}
.popup_1 img{
   max-width: 100%;
}
.none {
 padding: 0;
 margin: 0;
}
.padding_sm {
 padding: 5px!important;
}
.navbar .navbar-nav > li > a {
    font-size: 22px;
}
.navbar-brand{
  color:white!important;
}
.mapselect {
    font-weight: bolder;
}
.news-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.news-des{
   font-size: 16px;
   word-wrap:break-word;
}
.well {
    margin-bottom: 0px;
}
#login-dropdown-list {
    /*position: absolute;
    top: 48px;
    left: auto;
    right: -5px;*/
}
.dropdown-menu{
  margin-top: 20px;
  margin-right: -15px;
}
#login-buttons .login-close-text {
    float: right;
}
.navbar,
.navbar.navbar-default,
.navbar-nav,
.nav-tabs {
    background: #c00;
}
.loginBtns a {
    color: white;
}
#login-buttons a {
    text-decoration: none;
    font-size: 18px;
}
.loginBtns a {
 color: white;
 text-decoration: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
   background: none; 
   /*border-color: none; */
}
.btn-primary:not(.btn-link):not(.btn-flat) , .btn-primary:not(.btn-link):not(.btn-flat):hover {
  background: #c00;
}

#login-buttons a.login-close-text:hover{
  color:black;
}
#submitNews {
    border-radius: 5px 0 0 5px;
}
.map-container {
    width: 100%;
    max-width: 100%;
    height: 500px;
}
.setsize {
    font-weight: bolder;
    color: #fff!important;
    font-family: 'Arial Bold';
    padding: 16px!important;
}
.navbar-brand {
    font-weight: bolder;
    font-family: 'Arial Bold';
    font-size: 32px;
    color: white;
}
.upload_field {
  border:none!important;
}
.form-control:focus, .cloudinary_fileupload:focus  {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  background-image:none;
}
.form-control, .cloudinary_fileupload  {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.cal {
  position: absolute;
  z-index: 10000;
  right: 10px;
  bottom: 00;
}
#dateFilter .input-group-addon{
  display: none;
}
.reactive-table{
  float:left;
  margin-top:20px;
}
.clearfix .dropdown-menu 
{
  margin-top: 3px;
}
.clearfix{
  width:33.33333333%;
  float: left;
}
#dateFilter{
  width:89%;
}
.clearfix .btn {
  margin: 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.progress-bar {
    border-bottom: none;
}
.newsTitle:hover {
    text-decoration: underline;
    opacity: 0.5;
}
.newsTitle {
    color: #0088cc;
    text-transform: capitalize;    
  }
.uploadPanel .form-control{
  border:none;
}
.ui.table thead th {
 cursor: auto; 
  background: #f0f0f0;
  text-align: left;
  color: #212121;
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  border-left: none;
}
#infowindowDes {
    width: 50%;
    float: left;
    word-break: break-word;
}
#legend h3{
   margin-top: 0px;
}
#newsform form .form-control {
    border: none;
    width: 100%;
}
#newsform .uploadPanel {
    margin-top: 10px;
}
#newsform .panel-body {
    padding-top: 0px;
}
.image{
  width:100%;
}
#legend {
    background: #FFF;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    bottom: 5px!important;
}
.color {
    border: 1px solid;
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
}
.red {
    background: #C00;
}
.yellow {
    background: #FF3;
}
.blue {
    background: #06C;
}
.login-close-text{
  display: none;
}
.infowindow{
  color: #999;
  font-size:12px;
  padding: 0 10px 0 0;
}
.des_infowindow{
  text-align: justify;
  min-width: 300px;
  max-width: 465px;
}
.extra_small{
  display:none;
}
.login-button {
  border-radius: 5px;
color: #fff!important;
font-size: 15px;
font-weight: bolder;
}
.btn-Facebook {
background-color: #3b5998!important;
}
.btn-Google {
background-color: #d34836!important;
}
.btn-Twitter {
background-color: #4099ff!important;
}
#login-buttons-forgot-password
,#back-to-login-link ,#login-buttons-open-change-password ,#login-buttons-logout{
  background-color:#c00;
  color:#fff;
}
/*#back-to-login-link, #login-buttons-logout{
  color:black;
}*/
.dropdown-menu input:focus ,.dropdown-menu input{
  height:35px;
}
#signup-link,#forgot-password-link{
  color:black;
}
#signup-link,#forgot-password-link:hover{
  color:black;
  text-decoration: none;
}
#login-buttons-logout,#login-buttons-open-change-password,#login-buttons-password,#login-buttons-forgot-password,#back-to-login-link{
  font-weight: bolder;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  /*font-family: "RobotoDraft", "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";*/
}

.img_pad {
  padding: 10px;
}
input:focus {
  padding: 5px!important;
}
html, body, .container, .jumbotron, .map-container{height: 100%;}
.home #main{height:70%;}

@media (max-width: 768px) {
 #login-dropdown-list {
    position: static!important;
    margin: 0;
    background: #c00;
    border: none;
    width: 100%;
    box-shadow: none;
  }
 .logo {
    font-size: 24px;
  }
  .dropdown-menu{
    margin-right: 0px;
   }  
}
@media (max-width: 575px) {
  .extra_small{
    display:block;
  }
  .large{
    display:none;
  }
}
@media (max-width: 475px) {
  .popup_h3{
    font-size:12px;
  }
  .infowindow{
    font-size: 10px;
  }
  .des_infowindow{
    font-size: 10px;
  }  
}