<template name="home">
  <div class="well col-xs-12" >
    <select id="days" class="form-control mapselect" style="padding:0px">
    {{#each selectOptions}}
    <option value={{value}} {{selectedIfEquals value}}>
    {{text}}
    </option>
    {{/each}}
    </select>
    {{#if datePicker}} {{> datePickerTemplate}} {{/if}}
  </div>
  <div class="jumbotron col-xs-12">
    {{> map}}
  </div>
</template>
<template name="map">
  <div class="map-container">
    {{> googleMap name="map" options=mapOptions}}
  </div>
  <div id="legend"></div>
</template>
<template name="datePickerTemplate">
  <div class="col-xs-6 " style="margin-top:3px;padding:1px">
    <div class="col-xs-3 row">From Date:</div>
    <div class="col-xs-9">
      <div class="input-group datetimepicker" id="fromDate">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input class="set-due-date form-control" value={{fromDate}} type="text" />
      </div>
    </div>
  </div>
  <div class="col-xs-6 row" style="margin-top:3px">
    <div class="col-xs-3 row">To Date:</div>
    <div class="col-xs-9">
      <div class="input-group datetimepicker" id="toDate">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input class="set-due-date form-control " value={{toDate}} type="text"/>
      </div>
    </div>
  </div>
</template>