<template name="header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="{{pathFor 'home'}}">Community News</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav" style="padding:4px 0;">
        <li class="{{ activeIfTemplateIs 'home' }}"><a class="setsize " href="{{pathFor 'home'}}">Map</a></li>
        {{#if currentUser}}
        <li class="{{ activeIfTemplateIs 'addNews' }}"><a class="setsize " href="{{pathFor 'addNews'}}">Add News</a></li>
        <li class="{{ activeIfTemplateIs 'newsList' }}"><a class="setsize" href="{{pathFor 'newsList'}}">My News</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding:4px 0;">
        <li class="loginBtns">
          <a class="setsize" href="javascript:void(0)"> 
          {{>loginButtons}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>